doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    title= title
  body
    .header
      ul.blog-menu
        li.menu-item
          a(href='http://talkthetalkpodcast.com', aria-current='page') Home
        li.menu-item
          a(href='/about') About
        li.menu-item
          a(href='/') Transcript
        if user && user.admin
          li.menu-item
            a(href='/admin') Admin
      .right.menu-item
        if user
          a(href='/logout') Logout
        else
          a(href='/login') Login
      .clear
    block content
    .footer
      p.footer-left
        | © 2020 
        a(href='http://talkthetalkpodcast.com') Talk the Talk
      p.footer-right
        span
          | Created by 
          a(href='https://www.github.com/Drewbi') Drew Alexander
      .clear
  //- This is here to fix a bug with chrome lmao
  script= " " 