extends layout

block content
  .main-container
    form.form#regForm(action='/login' method='post')
      .formInput
        lable(for='email') Email:
        input#log_email(type='email' name='email')
      .formInput
        lable(for='password') Password:
        input#log_password(type='password' name='password')
      .formInput
        input(type='submit', value='Continue')