extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  .main-container
    form.form#regForm(action='/login' method='post')
      .formInput
        lable(for='email') Email
        input#log_email(type='email' name='email')
      .formInput
        lable(for='password') Password
        input#log_password(type='password' name='password')
      .formInput
        input.button(type='submit', value='Continue')
      .formInput Don't have an account? 
        a(href='/register') register
    while error = flash.shift()
      p(.error)= error.message 