extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  .main-container
    form.form(action='/register' method='post')
      .formInput
        lable(for='name') Name
        input.text-field(type='text' name='name')
        p This is who you'll be credited as.
        p For now you won't be able to change this later.
      .formInput
        lable(for='email') Email
        input.text-field(type='email' name='email')
      .formInput
        lable(for='password') Password
        input.text-field(type='password' name='password')
      .formInput
        lable(for='credit') Would you like to be credited?
        input(type='checkbox' name='credit' value='credit' checked)
      while error = flash.shift()
        p.error= error.message 
      .formInput
        input.button(type='submit', value='Continue')
      .formInput Already have an account? 
        a(href='/login') login
