extends layout

block content
  .main-container
    h1= episodeName
    form(method='post')
      .formInput
        textarea(name="text", cols="80", rows="15", maxlength=1000 style="resize: none;")= placeholderText
      .formInput
        input(type='submit', value='Continue')