extends layout

block content
  .main-container
  h1= episode.number || "No episodes found"
    h1= episode.name || ""
    form(method='post')
      .formInput
        textarea(name="text", cols="80", rows="15", maxlength=1000 style="resize: none;")= segment.text
      .formInput
        input(type='submit', value='Continue')