extends layout

block content
  .main-container
    h1= episodeName
    // submission form
    form(method='POST' action='/submission')
      div.form-group
        textarea(cols="80", rows="15", maxlength=1000 style="resize: none;")= placeholderText
      button.btn.btn-primary(type='submit') Sign up