extends layout

block content
  link(rel='stylesheet', href='/stylesheets/transcript.css')
  .main-container
    h1.epnumber= episode.number || "No episodes found"
    h1.eptitle= episode.name || ""
    audio(controls='')
      source(src=audio type='audio/mpeg')
      | Your browser does not support the audio element.
    form(method='post')
      .formInput
        textarea(name="text", cols="40", rows="10", maxlength=1000 style="resize: none;")= segment.text
      .formInput
        input.button(type='submit', value='Continue')