.main-container {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "side title otherside"
    "side main otherside"
    "footer footer footer";
  justify-content: center;
}

textarea {
  grid-area: 'main';
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	border-radius: 15px;
  padding: 20px;
  justify-self: center;
}

audio {
  grid-area: 'main';
}

audio:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}

.eptitle, .epnumber {
  grid-area: 'title';
}

.progress-bar {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #1abc9c;
  height: 15px;
}
