.footer { 
  position: fixed;
  bottom: 0;
  padding: 0 40px;
  width: calc(100% - 80px);
  background: #1D1D1D;
}

.footer,
.footer a { 
  font-size: 0.8rem;
  color: #858585; 
}

.footer-left { float: left; }
.footer-right { float: right; }