.main-container {
  display: flex;
  justify-content: center;
}

.form {
  padding: 20px;
  justify-self: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #dddddd;
}

.text-field {
  width: 100%;
  height: 20px;
  margin: 5px 0;
}

.error {
  color: lightcoral;
  margin: 20px 10px;
}

lable {
  color: rgb(53, 53, 53);
  margin-right: 5px;
}

.button {
  background-color: #1abc9c; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.formInput p {
  font-size: 12px;
  color: #999999;
}